@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
